.blog-details {
  padding: 20px;
  align-items: center;
  max-width: 900px;
  word-wrap: break-word;
  margin: 0 auto;
}
.blog-details .allblogtitle {
  font-size: 27px;
  color: #f1356d;
  margin-bottom: 7px;
  text-align: center;
}

.blog-details p {
  text-align: center;
  font-style: italic;
  font-weight: 600;
  margin-top: 10px;
}

.blog-details div {
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details .a {
  margin-left: 16px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  font-size: large;
  border-radius: 0.5em;
  transition: 0.3s;
}
.blog-details .a:hover {
  transform: scale(1.1);
}

.blog-cls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-details.finalview p {
  text-align: left;
  font-style: normal;
  margin-left: 5px;
}

.blog-details .finalview code {
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 90%;
  padding: 0.2rem 0.5rem;
  font-family: "Roboto Mono", "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
    "source-code-pro", monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.blog-details .writtenby {
  font-style: italic;
  font-weight: 600;
  margin-top: 10px;
  font-size: 15px;
}
.blog-cls .tags1 {
  /* margin-left: 16px; */
  text-decoration: none;
  font-weight: 600;
  padding: 7px;
  font-size: 17px;
  border-radius: 0.5em;
  transition: 0.3s;
}
.blog-cls .tags1:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .blog-details {
    padding: 10px;
  }

  .blog-details .allblogtitle {
    font-size: 22px;
  }

  .blog-details div {
    font-size: 16px;
  }

  .blog-details .a {
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
  }

  .blog-details .blog-cls {
    margin-top: 10px;
  }

  .blog-details .writtenby {
    font-size: 14px;
  }
  .finalview p {
    margin-left: 12px;
  }
  .blog-details .finalview code {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}
