.blog-details .allblogtitle {
  font-size: 27px;
  color: #f1356d;
  /* margin-top: 50px; */
  margin-bottom: 7px;
  text-align: center;
}

.blog-details {
  padding: 20px;
  align-items: center;
  max-width: 900px;
  word-wrap: break-word;
  margin: 0 auto;
}

.blog-details p {
  text-align: center;
  font-style: italic;
  font-weight: 600;
  margin-top: 10px;
}

.blog-details div {
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* .blog-details .loader {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-top: -10px;
  width: 400px;
  margin-left: -200px;
} */

.blog-details .a {
  margin-left: 16px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  font-size: large;
  border-radius: 0.5em;
  transition: 0.3s;
}
.blog-details .a:hover {
  transform: scale(1.1);
}

.blog-cls {
  display: flex;
  justify-content: end;
}
