.allblog-list {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  /* text-align: center; */
}
.allblog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 2px solid #ffffff;
  border-radius: 5px;
}

.allblog-title {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.blog-title {
  font-size: 22px;
  color: #f1356d;
  margin-bottom: 8px;
  text-decoration: none;
  text-align: left;
}

/* .search .allblog-search {
  display: flex;
  justify-content: end;
} */

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px; /* add some margin to the right */
}

.allblog-search {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  width: 170px;
  margin-left: 10px; /* add some margin to the left */
}

.allblog-search::placeholder {
  color: rgb(0, 0, 0);
}

.allblog-preview:hover {
  box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.allblog-preview h2 {
  font-size: 22px;
  color: #f1356d;
  margin-bottom: 8px;
  text-decoration: none;
}
.allmiddle {
  flex: 1;
  text-align: center;
}

.alllink-p {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
}
.link-com {
  text-decoration: none;
}

.warning {
  font-size: large;
  font-weight: 500;
  /* text-align: center; */
  margin-top: 30px;
}
@media only screen and (max-width: 600px) {
  .allmiddle {
    text-align: center;
    font-style: normal;
    font-size: 22px;
  }

  .allblog-preview .blog-title {
    font-size: 18px !important;
  }
  .blog-like {
    font-size: 14px !important;
  }
  .alllink-p {
    font-size: 12px !important;
  }
  .edited {
    font-size: 13px;
    font-weight: 400;
  }

  .allblog-search {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    width: 100px;
    margin-top: 6px;
    margin-left: 10px; /* add some margin to the left */
    font-size: smaller;
  }
}
