.blog-details .title {
  font-size: 27px;
  color: #f1356d;
  margin-top: 30px;
  margin-bottom: 7px;
  text-align: center;
}

.blog-details {
  padding: 20px;
  max-width: 900px;
  word-wrap: break-word;
  margin: 0 auto;
}

.blog-details .writtenby {
  font-style: italic;
  font-weight: 600;
  margin-top: 10px;
  font-size: 15px;
}

.blog-details div {
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details .loader {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-top: -10px;
  width: 400px;
  margin-left: -200px;
}

.blog-cls .tags {
  /* margin-left: 16px; */
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  font-size: large;
  border-radius: 0.5em;
  transition: 0.3s;
}
.blog-details .tags:hover {
  transform: scale(1.1);
}
.blog-cls .tag1 {
  margin-right: 16px;
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  padding: 6px;
  border-radius: 0.5em;
  transition: 0.3s;
}
.blog-details .tag1:hover {
  transform: scale(1.1);
}

.blog-details .finalview p {
  text-align: left;
  font-style: normal;
}

.blog-details .finalview code {
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 90%;
  padding: 0.2rem 0.5rem;
  font-family: "Roboto Mono", "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
    "source-code-pro", monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.blog-cls {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0 auto;
}

.tags:first-child {
  margin-right: auto;
}

.bothbuttons {
  margin: 0%;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 22px !important;
  }
  .blog-details .writtenby {
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
    font-size: 12px !important;
  }
  .blog-details {
    padding: 10px;
  }

  .blog-details .allblogtitle {
    font-size: 22px;
  }

  .blog-details div {
    font-size: 16px;
  }

  .blog-details .a {
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
  }

  .blog-details .blog-cls {
    margin-top: 10px;
  }

  .blog-cls .tags {
    /* margin-left: 16px; */
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
    font-size: medium;
    border-radius: 0.5em;
    transition: 0.3s;
  }
  .blog-details .tags:hover {
    transform: scale(1.1);
  }

  .blog-details .writtenby {
    font-size: 14px;
  }
  .finalview p {
    margin-left: 12px;
    font-size: 16px;
  }
  .blog-details .finalview code {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}
