/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #292828;
  background-color: #e9e9e9;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 2px solid #0909092e;
  justify-content: space-between;
}

.navbar .links {
  margin-left: auto;
}
.navbar .blogpost {
  font-size: 33px;
  color: #f1356d;
}

.navbar .shortblogpost {
  font-size: 28px;
  color: #f1356d;
}

.navbar .shortblogpost {
  font-size: 33px;
  display: none;
}
.navbar .tags {
  margin: 5px;
  text-decoration: none;
  font-weight: 900;
  padding: 6px;
  font-size: large;
  color: black;
  font-style: normal;
}

.navbar .logintags {
  margin: 5px;
  text-decoration: none;
  font-weight: 900;
  padding: 6px;
  font-size: large;
  color: black;
  font-style: normal;
}

.navbar a:hover {
  color: #ffffff;
  background-color: #f1356d;
  border-radius: 0.5em;
}

.loading-screen .loader {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-top: -10px;
  width: 400px;
  margin-left: -200px;
}

@media only screen and (max-width: 600px) {
  .navbar .blogpost {
    display: none;
  }
  .navbar .shortblogpost {
    display: flex;
  }
  .navbar .tags {
    font-size: 14px;
    padding: 5px;
    margin: 5px;
  }

  .blog-details div {
    margin: 20px 0;
    font-weight: 500;
    font-size: 17px;
  }
}
